{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>COVID-19 HOMEPAGE</title>
        <meta name="description" content="this is home page for cocid tracker">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'covid/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'covid/w3.css' %}">
    </head>
    <body>
        <div class="w3-container w3-pale-blue">
            
            <div class="w3-bar w3-blue">
                <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding ">HOME</a>
                <a href="" class="w3-bar-item w3-button w3-padding">EXPLORE</a>
                <a href="{% url 'faq1' %}" class="w3-bar-item w3-button w3-padding">FAQ</a>
                <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-padding">ABOUT US</a>
            </div>  
        </div>

        <div class="">
            <img class="mySlides" src="{% static 'covid/slideimages/photo1.jpg' %}" style="width: 100%;height: 500px;">
            <img class="mySlides" src="{% static 'covid/slideimages/photo2.jpg' %}" style="width: 100%;height: 500px;">
            <img class="mySlides" src="{% static 'covid/slideimages/photo3.jpg' %}" style="width: 100%;height: 500px;">
            <img class="mySlides" src="{% static 'covid/slideimages/photo4.jpg' %}" style="width: 100%;height: 500px;">
            <img class="mySlides" src="{% static 'covid/slideimages/photo5.jpg' %}" style="width: 100%;height: 500px;">
            <img class="mySlides" src="{% static 'covid/slideimages/photo6.jpg' %}" style="width: 100%;height: 500px;">

        </div>


        <div class="w3-container w3-pale-blue">
            <main>
                <div>
                    <button class="accordion w3-light-gray w3-hover-khaki w3-hover-text-black w3-padding w3-margin"><h4>STATEWISE STATUS OF COVID-19  IN INDIA</h4></button>
                    <div class="panel">
                        <div class="w3-responsive">
                            <table class="w3-table w3-striped">
                                <tr class="w3-indigo">
                                    <th>STATE</th>
                                    <th>TOTAL CONFIRMED</th>
                                    <th class="w3-margin">CURED/RECOVERED/MIGRATED</th>
                                    <th>DEATH</th>
                                </tr> 
                         
                                {% for items in all %}
                                <tr class="w3-hover-pale-red">
                                    <th>{{items.name}}</th>
                                    <th class="w3-text-purple">{{items.total_confirmed_cases}}</th>
                                    <th class="w3-text-green">{{items.recovered_cases}}</th>
                                    <th class="w3-text-red">{{items.death}}</th>
                         
                                </tr>
                                {% endfor %}
                            </table>
                         </div>
                    </div>
    
                </div>
    
                
            </main>
        </div>

        
        <script src="{% static 'covid/index.js' %}" async defer></script>
    </body>
</html>